* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f2f3c;
  color: #c2defc;
}

footer {
  background-color: #484a49;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
